@import 'styles/vars.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.title {
  margin-right: 20px;
  text-transform: uppercase;
  color: $grey;
  font-size: 15px;
  font-weight: normal;
}

.wallets {
  display: flex;
  border: solid 3px transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  -webkit-background-clip: padding-box, border-box;
  background-image: linear-gradient(white, white), $gradient;
  background-origin: border-box;
}

.wallet {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  border-right: 1px solid #ddd;
  padding: 0 20px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;

  input {
    display: none;
  }

  &:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 30px;
  }

  &:last-child {
    border-right: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 30px;
  }

  &:hover {
    transition: 0.2s;
    color: $dark;
  }

  &Selected {
    background-image: $gradient;
    color: white;

    &:hover {
      color: white;
    }
  }
}
